/* Variables */

@nutrigreen: #ACBF17;
@nutrismoke: #2D3540;
@nutriwhite: #FFF;
@secondarygreen: #736B02;
@secondarygold: #F2B705;
@secondaryinfo: #BF9169;

/* Fonts */
/* The Afrah font is used for main page headings (H1) */
@font-face {
    font-family: 'afrah';
    src: url('fonts/afrah/Afrah-Regular.eot');
    src: url('fonts/afrah/Afrah-Regular.ttf') format('truetype'),
        url('fonts/afrah/Afrah-Regular.woff') format('woff'),
        url('fonts/afrah/Afrah-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* The Telegraf font is used for sub-headings (H2) */
@font-face {
    font-family: 'telegraf';
    src: url('fonts/telegraf/PPTelegraf-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

/* -Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Reset Styles */

* {
    border:0;
    padding: 0;
    margin: 0;
}

/* Body Styles */

#reviews{
    background-color: @nutrismoke;
}

/* Header Styles */

header {
    height: 100px;
    width: 100%;
    nav {
        font-family: 'Open Sans', sans-serif;
        color:@nutriwhite;
        .nav-link {
            display: inline-block;
            color: @nutrismoke;
            text-decoration: none;
            font-size: 2em;
        }
    }
}




/* Body Styles */







